//- メインビジュアル
mixin l_offer
    .l-offer
        .l-container
            .l-offer__inner
                h2.c-heading.is-line-bottom CONTACT
                .c-heading.is-lg.is-first-color お問い合わせ
                .u-text-center.l-offer__text 弊社サービスについてのご依頼・ご相談は、下記よりお気軽にお問い合わせください。
                .l-offer__items
                    .large-3.small-12.l-offer__items--box
                        +a(href="tel: 052-804-5420").c-button.is-icon.is-tel
                            span.btn-icon.is-phone
                            span.l-offer__tel.
                                TEL.052-804-5420
                                <span> 【電話受付時間】<br class="l-offer__time">平日00：00～00：00</span>
                    .large-3.small-12.l-offer__items--box
                        +a("/instrument-form/").c-button.is-icon
                            span.btn-icon.is-guitar
                            span 楽器運搬についての<br>お問い合わせ
                    .large-3.small-12.l-offer__items--box
                        +a("/cargo-form/").c-button.is-icon
                            span.btn-icon.is-box
                            span 一般貨物についての<br>お問い合わせ

mixin l_offer-recruit
    .l-offer.is-padding-lg
        .l-container
            .l-offer__inner
                h2.c-heading.is-md.is-bottom エントリー
                .l-offer__text ●●では、働く環境を考え、一緒に課題に挑める仲間を募集しています。<br>私たちと一緒に働いてみませんか？
                .l-offer__items.is-button-one
                    +a(href="/recruit/entry/").l-offer__button.is-bgcolor-primary エントリーはこちら
