//- スマホメニュー
mixin c_slidebar
  //-> スマホメニューのボタン
  a(href="#").c-slidebar-button.js-slidebar-button
    span.c-slidebar-button__line
      span
      span
      span
    span.c-slidebar-button__text.is-open MENU
    span.c-slidebar-button__text.is-close 閉じる
  .c-slidebar-menu.js-slidebar-menu.is-top-to-bottom
    ul
      li: +a("#") ホーム
      li: +a("#") 会社案内
      li: +a("#") 楽器運搬
      li: +a("#") 一般貨物
    +a("#").c-slidebar-menu__button.c-button 楽器運搬お問い合わせ
    +a("#").c-slidebar-menu__button.c-button 一般貨物お問い合わせ
    +a(href="tel: 00-0000-0000").c-slidebar-menu__tel
      span <i class="fa fa-phone" aria-hidden="true"></i>052-804-5420
      small 受付時間 00:00〜00:00（平日）
  //- スマホメニュー用のコンテナ
  .c-slidebar-container.js-slidebar-container.is-top-to-bottom
