//- filename: index.jade
//- description: サイトのトップページ

extends /inc/foundation/_base.pug
block append config
  - current.id = "top" // ページのID
  - current.title = "トップページ" // タイトル
  - current.description = "これはトップページの説明文です" // 説明文
  - current.bodyClass = "top" // body に付与するクラス
  - current.depth = 1 // ページの階層

block body
  +c_main-visual()
  main.l-main
    section
      +c.concept
        .l-container
          h2.c-heading.is-line-bottom CONCEPT
          .c-heading.is-lg.is-first-color 新しいロジスティック<br class="dn-w">パートナーとして
          p.u-mbs.c-concept__text.is-top.
            当社は常にお客様のニーズをしっかりと把握し、<br class="dn-s">
            最適なロジスティックソリューションをご提案させていただく運送サービス提供しております。<br>
            楽器運搬をはじめ、貸切便や定期便のほか、緊急のお荷物についても356日24時間対応させていただく<br class="dn-s">
            新しいロジスティックパートナーとしてご利用ください。

    section.l-section.is-lg.is-top
      +c.links
        +e.block
          +e.box
            +e.box-item.is-lg
              +bgimg("img-links-01.jpg").c-links__box-img
              +e.box-texts
                div
                  +e.box-title.is-line-bottom.u-text-center SERVICE
                  +e.box-title-sub.u-text-center 業務内容

          +e.box
            +e.box-item.is-href
              +bgimg("img-links-02.jpg").c-links__box-img
              +e.box-texts
                div
                  +e.box-title 楽器運搬
                  p.u-mbs.is-top.is-xxs.
                    楽器運搬のノウハウを備えたプロが、<br>
                    楽器専用の最適な車両で安全にお運びします。
              +e.arrow-btn
                +a("#")
            +e.box-item.is-href
              +bgimg("img-links-03.jpg").c-links__box-img
              +e.box-texts
                div
                  +e.box-title 一般貨物
                  p.u-mbs.is-top.is-xxs.
                    貸切便や定期便のほか、重量物、緊急のお荷物に<br>
                    ついても365日24時間対応させていただきます。
              +e.arrow-btn
                +a("#")
  // オファーブロック
  +l_offer
