extends /inc/foundation/_base.pug
block append config
  - current.id = "cargo" // ページのID
  - current.title = "一般貨物" // タイトル
  - current.description = "これは一般貨物についての説明文です" // 説明文
  - current.bodyClass = "cargo" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header("img-page-header-cargo.jpg","一般貨物")
  +c_breadcrumb()

block body
  main.l-main
    section.l-section.is-lg
      .l-container
        h2.c-heading.is-lg.is-span-color.
          常にお客様のニーズをしっかりと把握し、<br>
          最適なロジスティックソリューションを選択、ご提案します。
    section.l-section.is-lg
      +c.hero-block-square
        +e.block
          +e.image: +bgimg("img-service-01.jpg").c-hero-block-square__image-img
          .l-container
            +e.content
              +e.inner
                +e.number 01
                h3.c-heading.is-sm.is-bottom 緊急時や重量物にも365日24時間対応
                p.u-mbs.is-top.is-xs.
                  軽貨物車から4トンウィング車まで取り揃えております。<br>
                  貸切便、定期銀のほか、緊急時のお荷物についても365日24時間対応させていただきます。<br>
                  また、パワーゲート車を使用することで重量物にも対応いたします。
        +e.block
          +e.image: +bgimg("img-service-03.jpg").c-hero-block-square__image-img
          .l-container
            +e.content
              +e.inner
                +e.number 03
                h3.c-heading.is-sm.is-bottom 印刷物・紙製品・雑貨品等から引越まで
                p.u-mbs.is-top.is-xs.
                  当社は、折込チラシ並び紙製品の運送業務に長年携わってまいりました。<br>
                  東海地区各折り込みサービスセンター所在地や、締め切り等に精通しておりますので安心してお任せください。
    section.l-section
      .l-container
        .u-mbs.is-top.is-lg.u-text-center
          +a("#").c-button.is-lg 一般貨物のお申し込む
  +l_offer

