extends /inc/foundation/_base.pug
block append config
  - current.id = "cargo" // ページのID
  - current.title = "一般貨物" // タイトル
  - current.description = "これは一般貨物についての説明文です" // 説明文
  - current.bodyClass = "cargo" // body に付与するクラス
  - current.depth = 2 // ページの階層

block page_header
  +l_page_header("img-page-header-cargo.jpg","一般貨物")
  +c_breadcrumb()

block body
  main.l-main
    section.l-section.is-lg
      .l-container
        h2.c-heading.is-lg.is-span-color.
          常にお客様のニーズをしっかりと把握し、<br>
          最適なロジスティックソリューションを選択、ご提案します。
    section.l-section.is-lg
      +c.hero-block-square
        +e.block
          +e.image: +bgimg("img-service-01.jpg").c-hero-block-square__image-img
          .l-container
            +e.content
              +e.inner
                +e.number 01
                h3.c-heading.is-sm.is-bottom サンプルテキスト
                p.u-mbs.is-top.is-xs.
                  サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
        +e.block
          +e.image: +bgimg("img-service-03.jpg").c-hero-block-square__image-img
          .l-container
            +e.content
              +e.inner
                +e.number 02
                h3.c-heading.is-sm.is-bottom サンプルテキスト
                p.u-mbs.is-top.is-xs.
                  サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト
      .u-mbs.is-bottom.is-lg.u-text-center
        +a("#").c-button.is-lg 一般貨物のお申し込む
  +l_offer

