//- filename: footer.jade
//- description: フッター

footer.l-footer
  .l-container
    .row
      .l-footer__content
        .l-footer__logo
          +img("logo.png")
        .l-footer__address
          p.
            <strong>有限会社東海アプローチ</strong><br>
            〒468-0038 名古屋市天白区山根町335 永井ビルC<br>
            貨物倉庫：名古屋市天白区山根320
        .l-footer__tel
          +a("") TEL.052-804-5420<br class="dn-w">FAX. 052-804-2421
      .l-footer__menu
        ul
          li: +a("/") ホーム
          li: +a("/instrument/") 楽器運搬
          li: +a("/instrument-form/") 楽器運搬についてのお問い合わせ
        ul
          li: +a("/company/") 会社案内
          li: +a("/cargo/") 一般貨物
          li: +a("/cargo-form/") 一般貨物についてのお問い合わせ
      .c-pagetop
        +a("")(data-anchor-target="html").c-pagetop__button.js-anchor
          +img("img-pagetop-01.png")
  .copyright
    .l-container
      .row
        small copyright ＠2020 TOKAI APPROACH co.,ltd.
        +a("/privacy-policy/") 個人情報保護方針
